<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Profile Page</h2>

    <h3>Welcome to your PROFILE</h3>
    
    <!-- <p>Id: <%= id %></p> -->
    <p>Name: <%= name %></p>
    <!-- <p>Email: <%= email %></p> -->

    <div class='fish'>
        <h3>Fish</h3>
        <% for( let i = 0; i < Fish.length; i++) { %> 
            <% let fish = Fish[i]; %>
            <% fish = fish.toJSON() %>
            <p><%= fish.name %></p>
            <img src="<%= fish.icon %>" />
            <a href="/fish/<%= fish.id %>">More Details</a>
            <hr>
        <% } %> 
    </div>

    <div class='bugs'>
        <h3>Bugs</h3>
        <% for( let i = 0; i < Bugs.length; i++) { %> 
            <% let bugs = Bugs[i]; %>
            <% bugs = bugs.toJSON() %>
            <p><%= bugs.name %></p>
            <img src="<%= bugs.icon %>" />
            <a href="/bugs/<%= bugs.id %>">More Details</a>
            <hr>
        <% } %>
    </div>

    <div class='seaCreatures'>
        <h3>Sea Creatures</h3>
        <% for( let i = 0; i < Seacreatures.length; i++) { %> 
            <% let seacreatures = Seacreatures[i]; %>
            <% seacreatures = seacreatures.toJSON() %>
            <p><%= seacreatures.name %></p>
            <img src="<%= seacreatures.icon %>" />
            <a href="/seacreatures/<%= seacreatures.id %>">More Details</a>
            <hr>
        <% } %> 
    </div>

</body>
</html>
