<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>BUGS</h1>
    <div class='box'>
        <img src="<%= bugs.image %>" />
        <p><%= bugs.name %></p>
        <p><span>Regular Price:</span> <%= bugs.price %> Bells</p>
        <p><span>Flick's Price:</span> <%= bugs.flickPrice %> Bells</p>
        <p><span>"Catch" Phrase:</span> <%= bugs.catchPhrase %></p>
        <p><span>Blather's Information:</span> <%= bugs.museumInfo %></p>
        <a href="/bugs/edit/<%= bugs.id %>">Caught yet? <%= bugs.capture %> </a>
    </div>
    <div class='box'>
        Delete Bug? Once deleted, you will no longer have access to this data!
        <form action="/bugs/<%= bugs.id %>/?_method=DELETE" method="post">
            <input type="submit" value="(Are you sure? This is a permanent decision!)">
        </form>
    </div>
</body>
</html>