<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>BUGS</h1>
    <div class='box'>
        <img src="<%= bugs.image %>" />
        <p><%= bugs.name %></p>
        <p><%= bugs.price %> Bells</p>
        <p><%= bugs.flickPrice %> Bells</p>
        <p><%= bugs.catchPhrase %></p>
        <p><%= bugs.museumInfo %></p>
        <a href="/bugs/edit/<%= bugs.id %>">Captured?</a>
        <hr>
    </div>
</body>
</html>