<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>SEA CREATURES</h1>
    <div class="all">     
    <% for( let i = 0; i < Seacreatures.length; i++) { %> 
        <div class="box">
        <% let seacreatures = Seacreatures[i]; %>
        <% seacreatures = seacreatures.toJSON() %>
        <a href="/seacreatures/<%= seacreatures.id %>"><%= seacreatures.name %></a>
        <img src="<%= seacreatures.icon %>" />
        <a href="/seacreatures/edit/<%= seacreatures.id %>">Caught yet? <%= seacreatures.capture %> </a>
        </div>
    <% } %> 
    </div>
</body>
</html>