<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>SEA CREATURES</h1>
    <div class='box'>
        <img src="<%= seacreatures.image %>" />
        <p><%= seacreatures.name %></p>
        <p><span>Shadow Size:</span> <%= seacreatures.shadowSize %></p>
        <p><span>Price:</span> <%= seacreatures.price %> Bells</p>
        <p><span>"Catch" Phrase:</span> <%= seacreatures.catchPhrase %></p>
        <p><span>Blather's Information:</span> <%= seacreatures.museumInfo %></p>
        <a href="/seacreatures/edit/<%= seacreatures.id %>">Caught yet? <%= seacreatures.capture %> </a>
        <hr>
    </div>
    <div class='box'>
    Delete Seacreature? Once deleted, you will no longer have access to this data!
        <form action="/seacreatures/<%= seacreatures.id %>/?_method=DELETE" method="post">
            <input type="submit" value="(Are you sure? This is a permanent decision!)">
        </form>
    </div>
</body>
</html>