<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class='header'>
        <h1>FISH</h1>
    </div>
    <div class='box'>
        <img src="<%= fish.image %>" />
        <p><%= fish.name %></p>
        <p><span>Shadow Size:</span> <%= fish.shadowSize %></p>
        <p><span>Regular Price:</span> <%= fish.price %> Bells</p>
        <p><span>CJ's Price:</span> <%= fish.cjPrice %> Bells</p>
        <p><span>"Catch" Phrase:</span> <%= fish.catchPhrase %></p>
        <p><span>Blather's Information:</span> <%= fish.museumInfo %></p>
        <a href="/fish/edit/<%= fish.id %>">Caught yet? <%= fish.capture %> </a>
        <hr>
    </div>

    <div class='box'>
    Delete Fish? Once deleted, you will no longer have access to this data!
        <form action="/fish/<%= fish.id %>/?_method=DELETE" method="post">
            <input type="submit" value="(Are you sure? This is a permanent decision!)">
        </form>
    </div>
</body>
</html>